/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import "../../../src/scss/variables";
.wp-block-mz-catalog-course {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
}

/*
alverno : Alverno College
bryanstratton : Bryan & Stratton College
carroll : Carroll University
carthage : Carthage College
concordia : Concordia University
gateway : Gateway Technical College
herzing : Herzing University
marquette : Marquette University
matc : Milwaukee Area Technical College (MATC)
miad : Milwaukee Institute of Art & Design
msoe : Milwaukee School of Engineering (MSOE)
mtmary : Mount Mary University
uwgb : University of Wisconsin - Green Bay (UWGB)
uwm : University of Wisconsin - Milwaukee (UWM)
uwp : University of Wisconsin - Parkside (UWP)
uww : University of Wisconsin - Whitewater (UWW)
wctc : Waukesha County Technical College
wlc : Wisconsin Lutheran College
 */

